# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.db-shm
*.db-wal

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Scan workspace (cloned repos)
scans/

# Temp files
*.tmp
